doctype html
html
    head
        title ForFam
        script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyAC8BhvrEhcP-IYLVMPixQxCtQUZeugIMM")
        script(type="text/javascript").
            window._INITIA_STATE_ = !{json}
    body
        #root
        script(src='/js/slideout.min.js')
        script(src='/js/bundle.js')